<div class="inner-container">
    <ul>
        {{#each applications}}
            {{#if application.id}}
                <li class="active-app" id="activeapp-{{ identifier }}">
                    <div data-tooltip="{{ application.name }}" data-delay="1" data-placement="right">
                        <a href="{{ application.url }}">
                            <span>
                                {{#if builtin}}
                                    <i class="icon medium icon-{{ application.icon }}"></i>
                                {{else}}
                                    <img src="{{#if application.icon_url}}{{ application.icon_url }}{{else}}{{ application.icon }}{{/if}}" alt="{{ application.name }}" />
                                {{/if}}
                            </span>
                        </a>
                    </div>
                </li>
            {{/if}}
        {{/each}}
    </ul>
</div>