{{#each applications}}
    {{#if application.id}}
        <div class="app" id="app-{{ identifier }}">
            <div class="app-topbar">
                <a href="#" class="app-button state-left" data-tooltip="Snap to the {{#ifStateIs 2}}bottom{{else}}left{{/ifStateIs}}">
                    <i class="icon {{#ifStateIs 2}}icon-down{{else}}icon-left{{/ifStateIs}}"></i>
                </a>
                <a href="#" class="app-button state-up" data-tooltip="Snap to the {{#ifStateIs 2}}bottom{{else}}top{{/ifStateIs}}">
                    <i class="icon {{#ifStateIs 1}}icon-down{{else}}icon-up{{/ifStateIs}}"></i>
                </a>
                <a href="#" class="app-button state-right" data-tooltip="Snap to the {{#ifStateIs 2}}bottom{{else}}right{{/ifStateIs}}">
                    <i class="icon {{#ifStateIs 3}}icon-down{{else}}icon-right{{/ifStateIs}}"></i>
                </a>
                <a href="#" class="app-button minimize" data-tooltip="Minimize">
                    <i class="icon icon-minimize-window"></i>
                </a>
                <a href="#" class="app-button maximize" data-tooltip="Maximize">
                    <i class="icon {{#ifStateIs 4}}icon-minimize{{else}}icon-maximize{{/ifStateIs}}"></i>
                </a>
                <a href="#" class="app-button close" data-tooltip="Close">
                    <i class="icon icon-remove"></i>
                </a>
            </div>
            
            <div class="app-content">
                <div class="avrora-loading">
                    <figure>
                        <ul class="logo">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </figure>
                </div>

                {{#unless builtin}}
                    <iframe src="{{ application.url }}" sandbox="allow-scripts allow-forms allow-same-origin" border="0"></iframe>
                {{/unless}}
            </div>
        </div>
    {{/if}}
{{/each}}