<div class="modal-window" id="feedback-modal">
    <div class="title">
        <h1>Feedback</h1>
    </div>
    <form action="" method="post">

        <fieldset>
            <div class="field">
                <label for="feedback-type">Feedback Type</label>
                <select name="feedback_type" id="feedback_type">
                    <option value="general">General Feedback</option>
                    <option value="bug">Bug Report</option>
                    <option value="proposal">Proposal</option>
                    <option value="enhancement">Enhancement</option>
                    <option value="question">Question</option>
                    <option value="other">Other</option>
                </select>
            </div>

            <div class="field">
                <label for="feedback-message">Your feedback message</label>
                <textarea name="feedback_message" id="feedback_message" placeholder="Your feedback mesage"></textarea>
            </div>

            <div class="field">
                <label for="feedback-screenshot">Screenshot</label>
                <p class="screenshot-preview"></p>
                <p class="select-screenshot">
                    <div class="drop-zone">
                        <div class="options">
                            <a class="choose-file" hrfe="#">Choose file</a>
                            <span class="or">or</span>
                            <a href="#" class="button success small" id="make-screenshot">Make screenshot</a>
                        </div>
                        <span class="drop-here">Drop you file here...</span>
                    </div>
                </p>
                <input type="hidden" name="screenshot_url" id="screenshot-url-input">
            </div>

            <div class="field more-options">
                <label for="bitbucket-submit">Submit to Butbucket</label>
                <p>
                    <input type="checkbox" disabled="disabled" name="butbucket_submit" /> 
                    Submit to <img class="bitbucket-logo" src="assets/images/icons/services/bitbucket.png" />
                </p>
            </div>

            <div class="field">
                <label for="feedback-score">Overall score</label>
                <div class="score"></div>
                <input type="hidden" name="feeback_score" id="feedback-score">
            </div>
        </fieldset>

        <div class="controls">
            <button name="send-feedback">Send</button>
            <span class="or">or</span>
            <a href="#" class="close-feedback-modal">Close</a>
        </div>

    </form>
    <div class="success-msg">
        <h1>Thank you!</h1>
        <p>Your feedback was successfully submitted. If it's necessary we'll contact you as soon as possible.</p>
        <a href="#" class="close-feedback-modal">Continue</a>
    </div>
</div>
<div class="overlay semi-transparent"></div>