<div class="application-drawer">
    <div class="all-apps active">
        <div class="visible-part">
            <div class="homescreens">
                {{#applications}}{{/applications}}
            </div>
        </div>

        {{#drawerPagination}}{{/drawerPagination}}
    </div>
</div>