<div id="welcome-text">Welcome</div>

<div id="desktop-container">
	<div id="active-apps">
	</div>
    <div id="desktop-icons">
    </div>
    <div id="taskbar">
    </div>
    <div id="applications">
    </div>
</div>