<ul class="taskbar-container">
    <li class="datetime-holder">
        <div class="datetime">
            <span class="date">00/00<br>0000</span>
            <span class="time">00:00</span>
        </div>
    </li>
    <li class="apps-holder">
        <div class="apps">
            <ul>
                {{#taskbarItems}}{{/taskbarItems}}
            </ul>
        </div>
    </li>
    <li class="toolbar-holder">
        <div class="toolbar">
            <ul>
                {{#toolbarItems}}{{/toolbarItems}}
            </ul>
        </div>
    </li>
</ul>