@import "third-party/glide";

@mixin user-select($user-select: none) {
	-webkit-touch-callout: $user-select;
	-webkit-user-select: $user-select;
	-khtml-user-select: $user-select;
	-moz-user-select: $user-select;
	-ms-user-select: $user-select;
	user-select: $user-select;
}

@mixin box-reflect($box-reflect) {
	-webkit-box-reflect: $box-reflect;
}

@mixin placeholder-color($color) {
	::-webkit-input-placeholder {
	    color: $color;
	}
	:-moz-placeholder {
	    color: $color;
	}
	:-ms-input-placeholder {
	    color: $color;
	}
}

@mixin pulse_keyframesY($start: 1, $end: 1.1) {
	@-webkit-keyframes pulse {
		0% {
			-webkit-transform: scaleY($start);
		}
		100% {
			-webkit-transform: scaleY($end);
		}
	}

	@-moz-keyframes pulse {
		0% {
			-moz-transform: scaleY($start);
		}
		100% {
			-moz-transform: scaleY($end);
		}
	}
}