/* File with global variables */

$white: #fff;
$black: #000;

/* Midnight Sky Aurora Palette - http://www.colourlovers.com/palette/2454086/Midnight_Sky_Aurora */
$dark-color: #02050a;
$light-dark: #1c2029;
$pink-color: #c30057;
$dark-blue: #23656f;
$light-blue: #2dbbcf;

/* Avrora OS Palette */
$bg-color: #ededed;
$darkbg-color: #303030;
$lightbg-color: #464646;
$hoverbg-color: #616161;
$focusbg-color: #ffffff;
$activebg-color: #00aec8;
$errorbg-color: #ffecec;
$error-color: #b52025;
$success-color: #67bf47;
$lighterror-color: #d94947;
$inputtext-color: #cccccc;
$error-text-color: #ee2930;

/* Taskbar options */
$taskbar-width: 70px;

/* Zindexes */
$tooltips-zindex: 9999999;
$activeapps-zindex: 9000002;
$modalapp-zindex: 9000001;
$taskbar-zindex: 9000000;
$messages-zindex: 8999999;
$app-zindex: 1800;
