<div id="avrora-assistant-container">
    <div id="avrora-assistant-input">
        <input type="text" name="avrora" placeholder="Enter something here"/>
    </div>
    <div id="results-container"></div>
</div>