{{#if resultsLength}}
    <ul>
    {{#each results}}
        <li data-type="{{ type }}" data-id="{{ id }}">
            {{#ifTypeIs 1}}
                <i class="dark icon icon-{{ icon }}"></i>
            {{ else }}
                <img src="{{ icon }}" alt="{{ title }}"/>
            {{/ifTypeIs}}
            <span>{{ title }}</span>
        </li>
    {{/each}}
    </ul>
{{/if}}