<div class="wallpaper {{#if current}}current{{/if}}{{#if placeholder}}placeholder{{/if}}"
    {{#unless placeholder}}style="{{#unless color}}background-image: url({{thumb}});{{else}}background-color: {{thumb}};{{/unless}}" data-url="{{full}}"{{/unless}}>
    {{#if current}}
        <div class="current">Current</div>
    {{/if}}
    {{#if placeholder}}
        <div class="current">Loading...</div>
    {{/if}}
</div>