@import "../../variables";

.btn-group {
	width: auto;
	height: auto;
	display: block;
	text-align: center;
	padding: 20px;
}

button, input[type=submit], .button {
	height: 44px;
	padding: 0 30px;
	padding-bottom: 4px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 100;
	color: $white;
	background-color: $lightbg-color;
	border: none;
	border-top: 2px solid $activebg-color;
	outline: none;
	cursor: pointer;

	&.small { // This should be medium?
		height: 37px;
		padding: 0px 24px;
		padding-bottom: 2px;
		font-size: 16px;
	}

	&.tiny {
		height: 15px;
		font-size: 12px;
		padding: 9px 10px 5px 10px;
	}

	&.full-width { width: 100%; }
	&.hidden { display: none; }

	&.margin-top-bottom {
		margin: 10px 0;
	}

	&.success {
		border-color: $success-color;
		
		&:active {
			background-color: $success-color;
		}
	}

	&.error {
		border-color: $error-color;

		&:active {
			background-color: $error-color;
		}
	}

	&:hover {
		background-color: $hoverbg-color;
	}

	&:active {
		background-color: $activebg-color;
	}
}

a.button {
	display: inline-block;
	text-decoration: none;
	padding: 13px 25px;
	height: 20px;

	&:hover {
		text-decoration: none;
		color: #fff;
	}

	&:visited {
		color: #fff;
	}

	&.small {
		height: 24px;
		padding-top: 13px;
		font-size: 14px;
	}
}