@import "../../variables";

form {
	label {
		color: $white;
		display: none;
	}
	
	fieldset {
		padding-top: 20px;

		.field {
			text-align: center;
			display: block;
			position: relative;

			input[type=text], input[type=password], textarea {
				width: 90%;
				margin: 1px;
			}

			textarea {
				padding: 17px;
			}

			select {
				width: 90%;
				margin: 10px;
			}

			&.button-field {
				margin: 5px;
				border-left: 3px solid $success-color;
				padding: 0 10px;
				padding-bottom: 5px;
			}
		}

		ul.errorlist {
			background-color: $error-color;
			margin: -1px 4px 2px 5px;
			padding: 0px;
			height: 5px;

			li {
				position: absolute;
				float: right;
				text-align: right;
				right: 17px;
				top: 20px;
				font-size: 12px;
				color: $error-text-color;
				font-weight: 100;
			}
		}
	}

	.controls {
		margin-top: 20px;
		text-align: center;
	}

	span.right {
		width: 45%;
		text-align: right;
		float: right;
		margin: 10px;
	}

	span.left {
		width: 45%;
		text-align: left;
		float: left;
		margin: 10px;
	}

	span.full-width {
		width: 100%;
	}

	div.clr {
		clear: both; 
	}

	p {
		margin: 10px 0;
	}
}