@import "../../variables";
@import "../../mixins";

input[type=text], textarea, input[type=password] {
	height: 46px;
	padding: 0 16px;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	background-color: $lightbg-color;
	border: none;
	outline: none;
	color: $inputtext-color;
	@include placeholder-color($inputtext-color);

	&.small {
		height: 37px;
		padding: 0px 14px;
	}

	&.error {
		background-color: $errorbg-color;
		border-bottom: 3px solid $error-color;
		color: $darkbg-color;
		@include placeholder-color($darkbg-color);

		&:hover {
			background-color: $white;
			color: $darkbg-color;
			@include placeholder-color($darkbg-color);
		}
	}

	&:hover {
		background-color: $hoverbg-color;
		color: $inputtext-color;
		@include placeholder-color($inputtext-color);
	}

	&:focus {
		background-color: $focusbg-color;
		color: $black;
		@include placeholder-color($black);
	}
}

// On/Off switch slider
.slider-label {
    display: block;
    width: 70px;
    height: 25px;
    margin: 4px;
    background-color: #464646;
    border: 3px solid #464646;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    input {
        display: none;

        &:checked + .slider {
            left: 35px;
        }
    }

    .slider {
        display: block;
        width: 35px;
        height: 25px;
        background-color: #00aec8;
        position: absolute;
        z-index: 1;
        -webkit-transition: left .2s ease-out;
    }

    .slider-left, .slider-right {
        display: block;
        width: 35px;
        color: $white;
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
        text-align: center;
        top: 0;
        position: absolute;
        z-index: 2;
    }

    .slider-left {
        left: 0;
    }

    .slider-right {
        right: 0;
    }
}


ul.select {

	height: 46px;
	margin: 7px;

	li {

		width: 93%;
		background-color: $lightbg-color;
		height: 19px;
		color: $white;
		text-align: left;
		padding: 15px;
		cursor: pointer;
		display: none;
		position: relative;
		z-index: 1000;
		border-left: 2px solid $light-blue;

		&.selected {
			display: block;
		}

		&:hover {
			background-color: $hoverbg-color;
			color: $inputtext-color;
		}

		a {
			color: $white;
			font-size: 12px;
			text-decoration: none;
		}
	}
}

select {
	&.hidden {
		display: none;
	}
}