@import "../../variables";

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $darkbg-color;
    z-index: 1000;
    display: none;

    &.transparent {
        opacity: 0;
        background: transparent;
    }

    &.semi-transparent {
        opacity: .5;
    }
}

.modal-window {
    position: absolute;
    background-color: $bg-color;
    width: auto;
    height: auto;
    min-width: 450px;
    min-height: 100px;
    z-index: 1001;
    top: 15%;
    left: 30%;
    padding: 30px 50px;
    display: none;

    .title {
        h1 {
            font-size: 25px;
            color: $darkbg-color;
            font-weight: 100;
            margin-bottom: 25px;
        }
    }
}