.notifications {
    position: absolute;
    z-index: 1000;
    top: 10px;
    right: 10px;
}

.notification {
    position: relative;
    background-color: $darkbg-color;
    border-left: 4px solid $white;
    width: 250px;
    height: auto;
    font-size: 12px;
    color: #fff;
    padding: 20px;
    margin: 7px 0;
    opacity: .97;
    display: none;

    &.info {
        border-color: $light-blue;
        color: $light-blue;
    }

    &.success {
        border-color: $success-color;
        color: $success-color;
    }

    &.error {
        border-color: $error-color;
        color: $error-color;
    }

    &.left {
        left: 20px;
        right: auto;
        float: left;
    }

    &.show {
        display: block;
    }
}