ul.toolbar {
	position: absolute;
	right: 30px;
	top: 15px;
	list-style: none;

	&.icon-toolbar {
		li {
			border: 0px none;
		}

		a.icon {
			display: inline-block;
		}
	}

	li {
		display: inline;
		border-right: 1px solid $darkbg-color;
		padding: 0 7px;

		a {
			color: $darkbg-color;

			&.my {
				background-color: $lightbg-color;
				color: #ededed;
				padding: 5px;
				border-left: 3px solid $light-blue;

				&:hover {
					background-color: $darkbg-color;
					text-decoration: none;
				}
			}
		}

		&.last {
			border: 0px none;
		}
	}
}