<div id="welcome-text">Welcome</div>

<div id="login-container">
    {{#each users}}
        {{#if id}}
            <div class="cover" id="cover_{{ id }}" style="background: url({{ cover }}) no-repeat center center fixed;  background-size: cover;"></div>
        {{/if}}
    {{/each}}

    <div id="users">
        <div id="avatars">
            <div class="close-btn">&times;</div>
            <h1 class="user-name">Hi, <span></span></h1>

            {{#each users}}
                {{#if id}}
                    <a href="#cover_{{ id }}" class="avatar" style="background-image: url({{ avatar }});" data-title="{{ name }}"></a>
                {{/if}}
            {{/each}}
        </div>
            
        <div id="login-box">
            <form>
                <div class="form-row">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="small" id="password" placeholder="Password" />
                </div>
                <div class="form-row">
                    <button type="submit" class="small">Login</button>
                </div>
            </form>
        </div>
    </div>

    <div class="avrora-logo inline">
        <i></i>
        <h1>Avrora OS</h1>
    </div>
</div>