<div id="welcome-container">
	<canvas id="background-canvas"></canvas>

	<div id="window-box">
	    <div id="text-1" data-timeout-time="2.5">Hi!</div>
	    <div id="text-2" data-timeout-time="3">
	    	<span class="welcome">Welcome to</span><br/>
	    	<span class="os">Avrora OS</span>
	    </div>
	    <div id="text-3" data-timeout-time="3" data-callback="createUserStep">
	        To start with, create an user
	        
	        <form id="create-user-form">
	        	<div class="form-row">
		        	<input type="text" placeholder="Name" name="name" class="small" {{#if username}}value="{{ username }}"{{/if}} />
		        	<input type="password" placeholder="Password" class="small" name="password" />
		        	<input type="password" placeholder="Repeat password" class="small" name="password_confirmed" />
		        </div>

	        	<div class="form-row">
                	<button type="submit" class="small">Create</button>
                </div>

		        <div class="error-row"><span></span></div>
	        </form>
	    </div>
	</div>
</div>