<div class="account-settings-avatar grid_24">
    <div class="avatar">
        <img src="{{ account.avatar }}" alt="Avatar" />
    </div>
    <div class="name">
        <h2>{{ account.name }}</h2>
        <span>
            {{#if account.password}}Password protected
            {{else}}No password{{/if}}
        </span>
        <button class="button small" id="account-settings-change-password">
            {{#if account.password}}Change{{else}}Set{{/if}} password
        </button>
    </div>
</div>

{{#if passwordBox.active}}
    <div class="account-settings-change-password grid_24 content-box">
        <div class="title">
            <h2>{{#if account.password}}Change{{else}}Set{{/if}} password</h2>
        </div>

        <div class="content">
            {{#if passwordBox.step1}}
                <p>Enter your current password.</p>
            {{else}}
                {{#if passwordBox.step2}}
                    <p>Set your new password. Be sure that there is nobody behind you.</p>
                {{/if}}
            {{/if}}

            <form class="change-password-form">
                {{#if passwordBox.step1}}
                    <input type="password" name="password_old" value="{{value 'password_old'}}" placeholder="Current password" class="small {{errorClass 'password_old' 'error'}}" />

                    {{error 'password_old'}}

                    <button class="button small" id="change-password-step1">
                        Continue
                    </button>
                {{else}}
                    {{#if passwordBox.step2}}
                        <input type="password" name="password" value="{{value 'password'}}" placeholder="New password" class="small {{errorClass 'password' 'error'}}" />
                        <input type="password" name="password_confirmed" value="{{value 'password_confirmed'}}" placeholder="Repeat password" class="small {{errorClass 'password_confirmed' 'error'}}" />

                        {{error 'password'}}

                        <button class="button small" id="change-password-step2">
                            Save
                        </button>
                    {{/if}}
                {{/if}}
            </form>
        </div>
    </div>
{{/if}}