<div class="customization-settings-current-wallpaper content-box grid_24">
    <div class="title">
        <h2>Wallpaper</h2>
    </div>
    <div class="content">
        <p>This is your current wallpaper.</p>
        <div class="current-wallpaper" style="{{#unless colorBackground}}background-image: url({{account.wallpaper}});{{else}}background-color: {{account.wallpaper}};{{/unless}}"></div>
        <div class="wallpaper-options"></div>
    </div>
</div>

<div class="customization-settings-change-wallpaper content-box grid_24">
    <div class="title">
        <h2>Change wallpaper</h2>
    </div>
    <div class="content">
        <p>Choose one of the wallpaper types below and then select the wallpaper you like the most.</p> 
        <ul class="wallpaper-source horizontal-menu">
            <li class="active"><a href="#wallpapers-my">My</a></li>
            <li><a href="#wallpapers-internet">Internet</a></li>
            <li><a href="#wallpapers-solid-colors">Solid colors</a></li>
        </ul>

        <div class="wallpaper-tabs grid_24">
            <div id="wallpapers-my" class="tab active">
                {{wallpapers 'my'}}
            </div>
            <div id="wallpapers-internet" class="tab">
                {{wallpapers 'internet'}}
            </div>
            <div id="wallpapers-solid-colors" class="tab">
                {{wallpapers 'solid'}}
            </div>
        </div>
    
        <div class="grid_24">
            <button id="wallpapers-internet-load-more" class="button">Load more</button>
        </div>
    </div>
</div>