<div class="prototype">
    <label class="slider-label">
        <input type="checkbox" checked="checked" />
        <span class="slider"></span>
        <span class="slider-left">Off</span>
        <span class="slider-right">On</span>
    </label>
    <label class="slider-label">
        <input type="checkbox" />
        <span class="slider"></span>
        <span class="slider-left">Yes</span>
        <span class="slider-right">No</span>
    </label>
</div>