<div id="settings-app-container" class="application">
    <div id="settings-app" class="container_24">
        <div class="grid_6 left">
            <div id="settings-app-title" class="grid_24 alpha omega">
                <h1>
                    Settings
                </h1>
            </div>
            <div id="settings-app-content-menu" class="grid_24 alpha omega">
                <ul>
                    {{#each settings}}
                        <li {{#if active}}class="active"{{/if}} data-trigger="{{ trigger }}">
                            <a href="#">{{ title }}</a>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="grid_18 right" id="settings-app-content">
            <div id="settings-app-subtitle" class="grid_24 alpha omega">
                <h1>
                    {{ currentSetting.title }}
                </h1>
            </div>
            <div id="settings-app-content-holder" class="grid_24 alpha omega">
                <div id="settings-app-content-box" class="{{ currentSetting.trigger }}-settings grid_24">
                </div>
                <div class="clear clearfix"></div>
            </div>
        </div>
    </div>
</div>