<div id="market-app-container" class="application">
    <div id="market-app" class="container_24">
        <h1 class="title">Avrora Market</h1>

        {{#each applications}}
            {{#if id}}
                <div class="market-app">
                    <div class="left">
                        <img src="{{#if icon}}{{ icon }}{{else}}{{ icon_url }}{{/if}}" class="{{#if icon}}internal{{else}}external{{/if}}" alt="{{ name }}"/>
                    </div>
                    <div class="right">
                        <h1>{{ name }}</h1>
                        <span>{{ short_description }}</span>
                        {{#installButton}}{{/installButton}}
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>