@import "compass/css3";

/* All apps */
.app .app-content .application {
    width: 100%;
    height: 100%;
    background-color: $bg-color;
    overflow: auto;

    .container_24 {
        display: block;
        padding-bottom: 30px;
        height: 100%;
    }
}

/* Settings app */
#settings-app-container {
    #settings-app {
        padding-top: 30px;

        #settings-app-title, #settings-app-subtitle {
            h1 {
                font-size: 46px;
                font-weight: 100;
                color: $activebg-color;
                margin-bottom: 15px;
            }
        }

        #settings-app-content-menu {
            ul {
                li {
                    margin-bottom: 2px;
                    font-size: 24px;
                    font-weight: 100;

                    a {
                        color: $darkbg-color;
                        display: block;
                        padding: 10px;

                        &:hover {
                            background-color: $light-blue;
                            color: $white;
                            text-decoration: none;
                        }

                        &:active {
                            background-color: $activebg-color;
                            color: $white;
                            @include scale(0.99, 0.99);
                        }
                    }

                    &.active {
                        a {
                            background-color: $activebg-color;
                            color: $white;
                        }
                    }
                }
            }
        }
    
        #settings-app-content {
            padding-bottom: 60px;

            #settings-app-content-holder {
                border-top: 2px solid $activebg-color;

                #settings-app-content-box {
                    padding-top: 20px;
                    margin-left: 3%;
                    font-weight: 200;

                    &.account-settings {
                        .account-settings-avatar {
                            display: block;
                            margin-bottom: 25px;

                            .avatar {
                                float: left;
                                margin-right: 15px;
                                height: 100px;
                                border: 3px solid $darkbg-color;

                                img {
                                    width: 100px;
                                    height: 100px;
                                }
                            }

                            .name {
                                float: left;
                                height: 106px;

                                h2 {
                                    font-size: 28px;
                                    font-weight: 100;
                                    padding-bottom: 8px;
                                    display: block;
                                }

                                span {
                                    color: $hoverbg-color;
                                    margin-bottom: 5px;
                                    font-size: 14px;
                                    display: block;
                                }

                                .button {
                                    margin-top: 18px;
                                    display: block;
                                }
                            }
                        }
                    }

                    &.customization-settings {
                        .customization-settings-current-wallpaper {
                            display: block;

                            .current-wallpaper {
                                float: left;
                                margin-right: 15px;
                                border: 3px solid $darkbg-color;
                                width: 288px;
                                height: 180px;
                                @include background-size(cover);
                            }

                            .wallpaper-options {
                                float: left;
                                height: 180px;
                            }
                        }

                        .customization-settings-change-wallpaper {
                            display: block;

                            ul.wallpaper-source {
                                display: block;
                            }

                            .wallpaper-tabs {
                                margin-top: 25px;

                                .tab {
                                    display: none;

                                    &.active {
                                        display: block;
                                    }

                                    .wallpaper {
                                        width: 180px;
                                        height: 118px;
                                        float: left;
                                        border: 3px solid $darkbg-color;
                                        margin-right: 3px;
                                        margin-bottom: 3px;
                                        @include background-size(cover);
                                        cursor: pointer;

                                        &.current {
                                            cursor: default;
                                        }

                                        .current {
                                            width: 180px;
                                            text-align: center;
                                            color: $white;
                                            background-color: rgba(0, 174, 200, 0.8);
                                            line-height: 40px;
                                            font-size: 20px;
                                        }
                                    }
                                }

                                #wallpapers-internet-load-more {
                                    display: none;
                                }
                            }
                        }
                    }

                    &.privacy-settings {
                        
                    }

                    .content-box {
                        margin-bottom: 25px;
                        display: block;

                        .title {
                            h2 {
                                font-size: 26px;
                                font-weight: 100;
                                color: $activebg-color;
                                margin-bottom: 10px;
                            }
                        }

                        .content {
                            p {
                                font-size: 14px;
                                padding-bottom: 18px;
                            }

                            input {
                                width: 300px;
                                margin-bottom: 2px;
                                display: block;
                            }

                            span.error {
                                font-size: 13px;
                                color: $error-color;
                                padding-top: 8px;
                            }

                            button {
                                margin-top: 10px;
                                display: block;
                            }
                        }

                        ul.horizontal-menu {
                            li {
                                margin-right: 2px;
                                font-size: 20px;
                                font-weight: 100;
                                float: left;

                                a {
                                    color: $darkbg-color;
                                    display: block;
                                    padding: 8px;

                                    &:hover {
                                        background-color: $light-blue;
                                        color: $white;
                                        text-decoration: none;
                                    }

                                    &:active {
                                        background-color: $activebg-color;
                                        color: $white;
                                        @include scale(0.99, 0.99);
                                    }
                                }

                                &.active {
                                    a {
                                        background-color: $activebg-color;
                                        color: $white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 850px) {
    #settings-app {
        .left, .right {
            width: 100%;
            display: block;
            float: none;
        }

        #settings-app-content-menu {
            ul {
                li {
                    float: left;
                    margin-left: 2px;
                }

                li:last-child {
                    margin-bottom: 20px !important;
                }
            }
        }
    }
}

/* Market app */
#market-app-container {
    #market-app {
        padding-top: 30px;

        h1.title {
            display: block;
            font-size: 46px;
            font-weight: 100;
            color: $activebg-color;
            margin-bottom: 15px;
        }

        .market-app {
            width: 200px;
            height: 80px;
            padding: 5px;
            margin: 2px;
            float: left;
            background-color: $darkbg-color;

            .left {
                width: 75px;
                height: inherit;
                float: left;

                img {
                    width: 70px;
                    height: 70px;
                    margin-top: 5px;
                    margin-left: 5px;
                }
            }

            .right {
                width: 115px;
                height: inherit;
                float: right;
                padding-top: 5px;

                h1, span {
                    color: $white;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }

                h1 {
                    font-size: 17px;
                    font-weight: 100;
                    padding-bottom: 3px;
                    display: block;
                }

                span {
                    margin-bottom: 12px;
                    font-size: 11px;
                    height: 11px;
                    display: block;
                }

                .button {
                    display: block;
                    height: 25px;
                    padding: 0px 10px;
                    padding-bottom: 2px;
                    font-size: 14px;
                }
            }
        }
    }
}

/* Avrora Asssistant */
#avrora-assistant-container {
    #avrora-assistant-input {
        input {
            width: 368px;
            padding: 0 10px;
            margin: 0;
            height: 46px;
        }
    }

    #results-container {
        padding: 5px 0;
        max-height: 160px;
        display: none;
        overflow: auto;

        ul {
            li {
                width: 374px;
                padding: 8px;
                height: 30px;
                font-size: 18px;
                cursor: pointer;
                color: $darkbg-color;

                &:hover {
                    background-color: $light-blue;
                    color: $white;
                    text-decoration: none;
                }

                &:active, &.active {
                    background-color: $activebg-color;
                    color: $white;
                }

                &:active {
                    @include scale(0.99, 0.99);
                }

                img {
                    width: 30px;
                    height: 30px;
                    vertical-align: middle;
                    margin: 0 10px 6px 0;
                }

                i {
                    display: inline-block;
                    margin: 3px 14px -6px 3px;
                }
            }
        }
    }
}