@import "compass/css3";
@import "../variables";

#desktop-container {
	width: 100%;
	height: 100%;
	position: absolute;
	display: none;
	overflow: hidden;
	background-color: $bg-color !important;

	// Active apps holder css
	#active-apps {
		width: 6px;
		height: 100%;
		position: absolute;
		left: 0;
		z-index: $activeapps-zindex;
		
		.inner-container {
			margin-left: -55px;
			width: 60px;
			display: none;
			overflow: hidden;
			opacity: 0;
			
			ul {
				overflow: auto;
				width: 80px;
				list-style-type: none;
				
				li {
					border-left: 3px solid $dark-color;

					&:hover {
						border-left: 3px solid $light-blue;
					}

					a {
						&:active, &.active {
							span {
								background-color: $light-blue;
							}
						}

						span {
							background-color: transparent;
							padding: 3px;
							width: 48px;
							height: 48px;
							display: block;

							img {
								border: 0;
								width: 48px;
								height: 48px;
							}
						}
					}
				}
			}
		}
	}

	// Desktop icons holder css
	#desktop-icons {
		position: absolute;
		z-index: 4;
		width: 100%;
		height: 100%;
		@include background-size(cover);
		@include transition(background 1s ease-in-out);

		.application-drawer {
			margin: 0 auto;
			margin-top: 40px;
			padding-left: 30px;

			div {
				height: inherit;

				&.visible-part {
					overflow: hidden;
					position: relative;

					.homescreens {
						position: absolute;
						left: 0;
					}
				}

				ul {
					&.apps {
						height: inherit;
						max-height: inherit;
						float: left;

						li {
							float: left;
							width: 120px;
							height: 120px;
							margin: 0 30px 30px 0;
							background-color: rgba(0, 0, 0, 0.4);
							cursor: pointer;

							&:hover {
								background-color: rgba(0, 0, 0, 0.6);
							}

							div {
								text-align: center;
								width: 100%;
								height: 100%;
								cursor: pointer;

								img {
									height: 60px;
									vertical-align: baseline;
									margin: 15px 0;
								}

								h4 {
									font-size: 14px;
									line-height: 21px;
									font-weight: 400;
									color: $white;
									text-overflow: ellipsis;
									overflow: hidden;
									white-space: nowrap;
								}
							}
						}
					}

					&.pagination {
						margin: 0 auto;
						text-align: center;
						height: 24px;

						li {
							display: inline-block;
							width: 24px;
							height: 24px;
							cursor: pointer;
							margin-top: -45px;

							span {
								width: 8px;
								height: 8px;
								margin: 8px auto;
								background: #F1F1F1;
								@include background-image(linear-gradient(top, #FEFEFE, #F1F1F1));
								@include box-shadow(0 1px 1px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1));
								border-radius: 100%;
								opacity: 0.5;
								display: block;
							}

							&:hover, &.active {
								span {
									opacity: 1;
								}
							}
						}
					}
				}
			}
		}
	}

	// Taskbar css
	#taskbar {
		position: fixed;
		right: 0;
		width: $taskbar-width;
		z-index: $taskbar-zindex;
		height: 100%;
		background-color: $dark-color;
		display: none;

		&.more-zindex {
			z-index: $taskbar-zindex + 3 !important;
		}

		ul.taskbar-container {
			position: absolute;
			width: 100%;
			height: 100%;

			li {
				&.datetime-holder {
					.datetime {
						color: $white;
						font-size: 12px;
						text-align: center;
						padding: 5px 0;

						span {
							line-height: 15px;
							margin: 5px 0;
							display: block;
							font-weight: 400;

							&:hover {
								background-color: $light-blue;
								cursor: pointer;
							}
						}
					}
				}

				&.apps-holder {
					.apps {
						height: 100%;

						ul {
							li {
								margin: 15px 0px;
								padding: 5px 11px;

								&.small {
									padding: 5px 24px;
								}

								&:hover, &.active {
									background-color: $light-blue;
									cursor: pointer;
								}
							}
						}
					}
				}

				&.toolbar-holder {
					position: absolute;
					bottom: 5px;

					.toolbar {
						ul {
							margin: 5px 9px;

							li {
								float: left;
								padding: 5px;

								&:hover {
									background-color: $light-blue;
									cursor: pointer;
								}

								&.no-signal {
									i {
										opacity: 0.3;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	// App holder css
	#applications {
		.app {
			background-color: $dark-color;
			display: none;
			position: absolute;
			z-index: $app-zindex;
			bottom: 0;
			border-left: 1px solid $dark-color;
			border-right: 1px solid $dark-color;
			@include transition(background-color .5s ease-in-out);

			&.unfocused-app {
				background-color: $lightbg-color;

				.app-topbar {
					background-color: $lightbg-color;
				}
			}

			&.more-zindex {
				z-index: $taskbar-zindex + 1 !important;
			}

			.app-topbar {
				display: block;
				width: 120px;
				height: 20px;
				background-color: $dark-color;
				position: absolute;
				z-index: inherit;
				right: 10px;
				margin-top: 0px;
				@include transition(margin-top .5s);
				@include transition(background-color .5s ease-in-out);
				
				a {
					text-decoration: none;
					
					&.app-button {
						float: left;
						padding: 2px;
						
						&:hover {
							background-color: $activebg-color;
						}

						&.close {
							&:hover {
								background-color: $lighterror-color;
							}
						}
					}
				}
			}
			
			.app-content {
				margin-top: 5px;
				width: 100%;
				height: 100%;
				background-color: $white;
				overflow: hidden;
				border-bottom: 1px solid $dark-color;
				-webkit-overflow-scrolling: touch;
				overflow: auto;
				
				iframe {
					border: none;
					width: 100%;
					height: 100%;
				}
			}
		}

		.modal-app {
			background-color: rgba(255, 255, 255, 0.7);
			display: none;
			position: absolute;
			z-index: $modalapp-zindex;
			width: 300px;
			height: 150px;
			padding: 7px;
			font-size: 14px;
			@include box-shadow(0 0 100px rgba(0, 0, 0, 0.3));

			.app-inner {
				background-color: $bg-color;
				height: 100%;
				padding: 5px;
				overflow: auto;
			}
		}
	}
}