@import "compass/css3";
@import "../variables";

#feedback-modal {
    top: 0px;
    left: 30%;

    form {

        span {
            &.or {
                font-size: 12px;
            }
        }

        .drop-zone {
            padding: 30px;
            border: 2px dashed $darkbg-color;
            margin: 0 5px 10px 5px;
            color: $darkbg-color;

            a {

                &.choose-file {
                    cursor: pointer;
                    font-size: 14px;
                    color: $darkbg-color;
                }
            }

            span.drop-here {
                display: none;
            } 
        }

        .field {
            .select-screenshot {
                margin: 15px 0;
            }
        }

        .more-options {
            text-align: left;
            margin-top: 25px;

            p {
                font-size: 14px;
                color: #333;
                padding-left: 10px;

                .bitbucket-logo {
                    vertical-align: bottom;
                }
            }
        }

        .controls {
            margin-top: 30px;
        }
    }

    .success-msg {
        display: none;

        h1 {
            font-size: 32px;
            margin: 20px 0;
        }

        p {
            font-size: 12px;
            margin: 15px 0;
        }
    }
}

.imgareaselect-outer {
    background-color: $darkbg-color;
    opacity: 0.7;
}

.imgareaselect-border1 {
    border: 1px dashed $bg-color;
}

#capture-screenshot {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
    opacity: 0.5;
    @include single-transition(opacity, .3s, linear);

    &:hover {
        opacity: 1;
    }
}