@import "compass/css3";
@import "../variables";
@import "../mixins";

@include fade_keyframes;
@include spin_keyframes;
@include pulse_keyframes;
@include pulse_keyframesY;
@include glow_keyframes;
@include inner_glow_keyframes;
@include flash_keyframes;
@include flashbulb_keyframes;
@include shine_keyframes;
@include slide_keyframes;
@include slide_in_keyframes;
@include slide_out_keyframes;
@include roll_keyframes;
@include roll_in_keyframes;
@include roll_out_keyframes;
@include drop_keyframes;
@include drop_in_keyframes;
@include drop_out_keyframes;
@include barcode_keyframes;
@include shake_keyframes;
@include wobble_keyframes;
@include bounce_keyframes;
@include stomp_keyframes;
@include redalert_keyframes;
@include glide_keyframes;

body {
	background-color: $darkbg-color;
	font-family: "Open Sans", sans-serif;
	@include user-select(none);
    -webkit-font-smoothing: antialiased;

	&.white {
		background-color: $bg-color;
	}
}

/* Links */
a {
	color: $activebg-color;
	text-decoration: none;
	
	&:hover {
		text-decoration: underline;
	}

	&:active {
		color: $lightbg-color;
	}
}

noscript {
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	color: $white;
	text-rendering: optimizeLegibility;
	background-color: $darkbg-color;

	h1 {
		padding-top: 150px;
		padding-bottom: 20px;
		font-size: 24px;

		span {
			color: $activebg-color;
		}
	}

	p {
		width: 500px;
		margin: 0 auto;
		line-height: 20px;

		a {
			color: $activebg-color;
			text-decoration: none;
		}

		a:hover {
			text-decoration: underline;
		}
	}
}

/* Welcome and loading text */
#welcome-text, #loading-text, .avrora-loading {
	position: absolute;
	z-index: 10;
	width: 100%;
    height: 100%;
	display: none;
}

#welcome-text {
	color: $darkbg-color;
    text-align: center;
    top: 44%;
    font-size: 24px;
    font-weight: 300 !important;
}

.avrora-loading {
	display: block;
}

#loading-text, .avrora-loading {
    ul.logo {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 99px;
        height: 92px;
        margin: -49px 0 0 -46px;
        
        li {
			@include pulse_keyframesY(0.5, 1.5);
            float: left;
            width: 11px;
            height: 100%;
            background-color: #5e3476;
            margin-left: 2px;
            
            &:first-child, &:nth-child(4), &:nth-child(7), &:last-child {
                background-color: #7f3e99;
            }
            
            &:nth-child(3), &:nth-child(6), &:nth-child(9) {
                background-color: #be9ecb;
                margin-left: 0;
                width: 2px;
            }
                
            &:nth-child(4), &:nth-child(8) {
                margin-left: 3px;
            }
            
            &:first-child {
                margin-top: 26px;
                height: 53px;
            	@include pulse(0.3s, cubic-bezier(0.42,0,0.58,1), 0s, infinite);
            }

            &:nth-child(2), &:nth-child(3) {
            	@include pulse(0.5s, cubic-bezier(0.42,0,0.58,1), 0s, infinite);
            }
            
            &:nth-child(4) {
                margin-top: 8px;
                height: 78px;
            	@include pulse(0.4s, cubic-bezier(0.42,0,0.58,1), 0s, infinite);
            }
            
            &:nth-child(5), &:nth-child(6) {
                margin-top: 14px;
                height: 75px;
            	@include pulse(0.3s, cubic-bezier(0.42,0,0.58,1), 0s, infinite);
            }
            
            &:nth-child(7) {
                margin-top: 3px;
                height: 83px;
            	@include pulse(0.45s, cubic-bezier(0.42,0,0.58,1), 0s, infinite);
            }
            
            &:nth-child(8), &:nth-child(9) {
                margin-top: 4px;
                height: 85px;
            	@include pulse(0.5s, cubic-bezier(0.42,0,0.58,1), 0s, infinite);
            }
            
            &:last-child {
                margin-top: 20px;
                height: 54px;
            	@include pulse(0.3s, cubic-bezier(0.42,0,0.58,1), 0s, infinite);
            }
        }
    }
}

/* Avrora logo */
.avrora-logo {
	width: 280px;
	height: 50px;
	text-align: center;

	&.medium {
		i {
			width: 50px;
			height: 49px;
			margin-left: 115px;
		}
	}

	&.large {
		i {
			width: 98px;
			height: 93px;
			margin-left: 90px;
		}
	}

	&.inline {
		i, h1 {
			display: inline-block;
			padding: 0;
			margin: 0;
		}

		h1 {
        	padding-left: 8px;
		}
	}

	i {
		background: url('/my/assets/images/avroraos-logo.png') no-repeat;
		display: block;
		background-size: cover;

		width: 25px;
		height: 25px;
		margin-left: 125px;
	}

	h1 {
		color: $darkbg-color;
		font-size: 30px;
		text-align: center;

        display: block;
	}
}

.hidden {
	display: none;
}