@import "compass/css3";
@import "../variables";

// Used online services:
//   Sprites generator - http://draeton.github.com/stitches/
//   CSS compressor - http://www.csscompressor.com/

.icon {
    background: url(../images/icons/small.png) no-repeat;

    &.dark {background: url(../images/icons/small-dark.png) no-repeat;}

    &.icon-archive-empty{width:16px;height:16px;background-position:-5px -5px}
    &.icon-archive-full{width:16px;height:16px;background-position:-31px -5px}
    &.icon-archive-up{width:16px;height:16px;background-position:-57px -5px}
    &.icon-archive-down{width:16px;height:16px;background-position:-83px -5px}
    &.icon-alarm{width:16px;height:16px;background-position:-109px -5px}
    &.icon-battery-20{width:16px;height:16px;background-position:-135px -5px}
    &.icon-battery-50{width:16px;height:16px;background-position:-161px -5px}
    &.icon-battery-100{width:16px;height:16px;background-position:-187px -5px}
    &.icon-battery-charging{width:16px;height:16px;background-position:-213px -5px}
    &.icon-book{width:16px;height:16px;background-position:-239px -5px}
    &.icon-brightness{width:24px;height:24px;background-position:-265px -5px}
    &.icon-bubble{width:16px;height:16px;background-position:-5px -39px}
    &.icon-calendar-smaller{width:16px;height:16px;background-position:-31px -39px}
    &.icon-calendar{width:24px;height:24px;background-position:-57px -39px}
    &.icon-camera{width:16px;height:16px;background-position:-91px -39px}
    &.icon-cart-smaller{width:16px;height:16px;background-position:-117px -39px}
    &.icon-cart{width:24px;height:24px;background-position:-143px -39px}
    &.icon-chat{width:16px;height:16px;background-position:-177px -39px}
    &.icon-check{width:16px;height:16px;background-position:-203px -39px}
    &.icon-clock{width:24px;height:24px;background-position:-229px -39px}
    &.icon-cloud-1{width:16px;height:16px;background-position:-263px -39px}
    &.icon-cloud-down{width:16px;height:16px;background-position:-5px -65px}
    &.icon-cloud-up{width:16px;height:16px;background-position:-31px -65px}
    &.icon-cloud{width:16px;height:16px;background-position:-91px -65px}
    &.icon-coffee{width:16px;height:16px;background-position:-117px -65px}
    &.icon-color{width:16px;height:16px;background-position:-177px -65px}
    &.icon-compass{width:16px;height:16px;background-position:-203px -65px}
    &.icon-back{width:16px;height:16px;background-position:-263px -65px}
    &.icon-contrast{width:24px;height:24px;background-position:-5px -91px}
    &.icon-credit{width:24px;height:24px;background-position:-39px -91px}
    &.icon-document{width:24px;height:24px;background-position:-73px -91px}
    &.icon-console{width:24px;height:24px;background-position:-107px -91px}
    &.icon-fast-backward{width:16px;height:16px;background-position:-141px -91px}
    &.icon-down{width:16px;height:16px;background-position:-167px -91px}
    &.icon-file-minus{width:16px;height:16px;background-position:-193px -91px}
    &.icon-fast-forward{width:16px;height:16px;background-position:-219px -91px}
    &.icon-file-plus{width:16px;height:16px;background-position:-245px -91px}
    &.icon-flag{width:16px;height:16px;background-position:-271px -91px}
    &.icon-file-remove{width:16px;height:16px;background-position:-141px -117px}
    &.icon-folder-plus{width:16px;height:16px;background-position:-167px -117px}
    &.icon-folder{width:16px;height:16px;background-position:-193px -117px}
    &.icon-folder-remove{width:16px;height:16px;background-position:-219px -117px}
    &.icon-gear{width:24px;height:24px;background-position:-245px -117px}
    &.icon-forward{width:16px;height:16px;background-position:-5px -151px}
    &.icon-geo-remove{width:16px;height:16px;background-position:-31px -151px}
    &.icon-geo{width:16px;height:16px;background-position:-57px -151px}
    &.icon-geo-add{width:16px;height:16px;background-position:-83px -151px}
    &.icon-globe-smaller{width:16px;height:16px;background-position:-109px -151px}
    &.icon-grid-view{width:16px;height:16px;background-position:-135px -151px}
    &.icon-globe{width:24px;height:24px;background-position:-161px -151px}
    &.icon-grid{width:16px;height:16px;background-position:-195px -151px}
    &.icon-hat{width:24px;height:24px;background-position:-221px -151px}
    &.icon-heart-smaller{width:16px;height:16px;background-position:-255px -151px}
    &.icon-hand{width:16px;height:16px;background-position:-5px -177px}
    &.icon-help{width:24px;height:24px;background-position:-31px -177px}
    &.icon-heart{width:16px;height:16px;background-position:-65px -177px}
    &.icon-image{width:16px;height:16px;background-position:-91px -177px}
    &.icon-home{width:24px;height:24px;background-position:-117px -177px}
    &.icon-keyboard{width:26px;height:24px;background-position:-255px -177px}
    &.icon-info{width:24px;height:24px;background-position:-5px -211px}
    &.icon-left{width:16px;height:16px;background-position:-195px -177px}
    &.icon-list{width:16px;height:16px;background-position:-39px -211px}
    &.icon-maximize{width:16px;height:16px;background-position:-65px -211px}
    &.icon-mail{width:16px;height:16px;background-position:-91px -211px}
    &.icon-man{width:24px;height:24px;background-position:-117px -211px}
    &.icon-mic-on{width:16px;height:16px;background-position:-151px -211px}
    &.icon-members{width:16px;height:16px;background-position:-177px -211px}
    &.icon-microphone-2{width:16px;height:16px;background-position:-203px -211px}
    &.icon-microphone-1{width:16px;height:16px;background-position:-229px -211px}
    &.icon-money{width:16px;height:16px;background-position:-255px -211px}
    &.icon-minimize{width:16px;height:16px;background-position:-39px -237px}
    &.icon-movie{width:16px;height:16px;background-position:-65px -237px}
    &.icon-next{width:16px;height:16px;background-position:-91px -237px}
    &.icon-music-note{width:16px;height:16px;background-position:-151px -237px}
    &.icon-notes{width:16px;height:16px;background-position:-177px -237px}
    &.icon-notepad{width:16px;height:16px;background-position:-203px -237px}
    &.icon-pause{width:16px;height:16px;background-position:-229px -237px}
    &.icon-pen{width:16px;height:16px;background-position:-255px -237px}
    &.icon-page{width:16px;height:16px;background-position:-5px -263px}
    &.icon-phone-plus{width:16px;height:16px;background-position:-31px -263px}
    &.icon-pencil{width:16px;height:16px;background-position:-57px -263px}
    &.icon-phone{width:16px;height:16px;background-position:-83px -263px}
    &.icon-photo{width:24px;height:24px;background-position:-109px -263px}
    &.icon-photo-smaller{width:16px;height:16px;background-position:-143px -263px}
    &.icon-phone-remove{width:16px;height:16px;background-position:-169px -263px}
    &.icon-play{width:16px;height:16px;background-position:-195px -263px}
    &.icon-previous{width:16px;height:16px;background-position:-221px -263px}
    &.icon-rate-down{width:16px;height:16px;background-position:-247px -263px}
    &.icon-plug{width:16px;height:16px;background-position:-273px -263px}
    &.icon-rate-up{width:16px;height:16px;background-position:-299px -5px}
    &.icon-refresh{width:24px;height:24px;background-position:-289px -39px}
    &.icon-profile{width:16px;height:16px;background-position:-297px -73px}
    &.icon-remove{width:16px;height:16px;background-position:-297px -99px}
    &.icon-screen{width:16px;height:16px;background-position:-5px -125px}
    &.icon-right{width:16px;height:16px;background-position:-31px -125px}
    &.icon-reload{width:16px;height:16px;background-position:-57px -125px}
    &.icon-shutdown{width:16px;height:16px;background-position:-83px -125px}
    &.icon-search{width:24px;height:24px;background-position:-281px -125px}
    &.icon-smartphone{width:16px;height:16px;background-position:-109px -125px}
    &.icon-star{width:16px;height:16px;background-position:-291px -159px}
    &.icon-signal{width:16px;height:16px;background-position:-151px -185px}
    &.icon-table{width:16px;height:16px;background-position:-221px -185px}
    &.icon-stop{width:16px;height:16px;background-position:-291px -185px}
    &.icon-trash{width:24px;height:24px;background-position:-281px -211px}
    &.icon-trash-smaller{width:16px;height:16px;background-position:-299px -245px}
    &.icon-up{width:16px;height:16px;background-position:-299px -271px}
    &.icon-tablet{width:16px;height:16px;background-position:-5px -297px}
    &.icon-vote-down{width:16px;height:16px;background-position:-31px -297px}
    &.icon-vote-up{width:16px;height:16px;background-position:-57px -297px}
    &.icon-video{width:16px;height:16px;background-position:-83px -297px}
    &.icon-wifi{width:24px;height:24px;background-position:-143px -289px}
    &.icon-wrench{width:24px;height:24px;background-position:-177px -289px}
    &.icon-window{width:16px;height:16px;background-position:-109px -297px}
    &.icon-warning{width:24px;height:24px;background-position:-211px -289px}
    &.icon-mic{width:16px;height:16px;background-position:-245px -297px}
    &.icon-minimize-window{width:16px;height:16px;background-position:-269px -297px}
    &.icon-avrora{width:24px;height:24px;background-position:-290px -287px}
   	
    &.medium {
        background: url(../images/icons/medium.png) no-repeat;

        &.dark {background: url(../images/icons/medium-dark.png) no-repeat;}

        &.icon-archive-full{width:32px;height:32px;background-position:-5px -5px}
        &.icon-archive-up{width:32px;height:32px;background-position:-47px -5px}
        &.icon-alarm{width:32px;height:32px;background-position:-89px -5px}
        &.icon-battery-20{width:32px;height:32px;background-position:-131px -5px}
        &.icon-back{width:32px;height:32px;background-position:-173px -5px}
        &.icon-battery-100{width:32px;height:32px;background-position:-215px -5px}
        &.icon-battery-50{width:32px;height:32px;background-position:-257px -5px}
        &.icon-brightness{width:48px;height:48px;background-position:-299px -5px}
        &.icon-book{width:32px;height:32px;background-position:-357px -5px}
        &.icon-archive-down{width:32px;height:32px;background-position:-399px -5px}
        &.icon-battery-charging{width:32px;height:32px;background-position:-441px -5px}
        &.icon-calendar{width:48px;height:48px;background-position:-5px -47px}
        &.icon-calendar-smaller{width:32px;height:32px;background-position:-63px -47px}
        &.icon-camera{width:32px;height:32px;background-position:-105px -47px}
        &.icon-bubble{width:32px;height:32px;background-position:-147px -47px}
        &.icon-cart-smaller{width:32px;height:32px;background-position:-189px -47px}
        &.icon-cart{width:48px;height:48px;background-position:-231px -47px}
        &.icon-clock{width:48px;height:48px;background-position:-357px -47px}
        &.icon-check{width:32px;height:32px;background-position:-415px -47px}
        &.icon-chat{width:32px;height:32px;background-position:-63px -89px}
        &.icon-cloud-down{width:32px;height:32px;background-position:-105px -89px}
        &.icon-cloud-1{width:32px;height:32px;background-position:-147px -89px}
        &.icon-cloud-up{width:32px;height:32px;background-position:-189px -89px}
        &.icon-cloud{width:32px;height:32px;background-position:-289px -89px}
        &.icon-coffee{width:32px;height:32px;background-position:-415px -89px}
        &.icon-color{width:32px;height:32px;background-position:-5px -131px}
        &.icon-comment{width:48px;height:48px;background-image:url(../images/icons/medium/comment.png);}
        &.icon-comments{width:32px;height:32px;background-position:-47px -131px}
        &.icon-compass{width:32px;height:32px;background-position:-89px -131px}
        &.icon-console{width:48px;height:48px;background-position:-131px -131px}
        &.icon-contrast{width:48px;height:48px;background-position:-189px -131px}
        &.icon-credit{width:48px;height:48px;background-position:-247px -131px}
        &.icon-document{width:48px;height:48px;background-position:-305px -131px}
        &.icon-down{width:32px;height:32px;background-position:-363px -131px}
        &.icon-fast-backward{width:32px;height:32px;background-position:-405px -131px}
        &.icon-fast-forward{width:32px;height:32px;background-position:-447px -131px}
        &.icon-file-minus{width:32px;height:32px;background-position:-5px -173px}
        &.icon-file-plus{width:32px;height:32px;background-position:-47px -173px}
        &.icon-archive-empty{width:32px;height:32px;background-position:-89px -173px}
        &.icon-file-remove{width:32px;height:32px;background-position:-363px -173px}
        &.icon-folder-plus{width:32px;height:32px;background-position:-405px -173px}
        &.icon-flag{width:32px;height:32px;background-position:-447px -173px}
        &.icon-folder-remove{width:32px;height:32px;background-position:-5px -215px}
        &.icon-folder{width:32px;height:32px;background-position:-47px -215px}
        &.icon-gear{width:48px;height:48px;background-position:-89px -215px}
        &.icon-forward{width:32px;height:32px;background-position:-147px -215px}
        &.icon-geo-remove{width:32px;height:32px;background-position:-189px -215px}
        &.icon-geo-add{width:32px;height:32px;background-position:-231px -215px}
        &.icon-geo{width:32px;height:32px;background-position:-273px -215px}
        &.icon-globe-smaller{width:32px;height:32px;background-position:-315px -215px}
        &.icon-globe{width:48px;height:48px;background-position:-357px -215px}
        &.icon-grid-view{width:32px;height:32px;background-position:-415px -215px}
        &.icon-grid{width:32px;height:32px;background-position:-5px -257px}
        &.icon-hat{width:48px;height:48px;background-position:-147px -257px}
        &.icon-hand{width:32px;height:32px;background-position:-47px -257px}
        &.icon-heart{width:32px;height:32px;background-position:-205px -257px}
        &.icon-help{width:48px;height:48px;background-position:-247px -257px}
        &.icon-heart-smaller{width:32px;height:32px;background-position:-305px -257px}
        &.icon-image{width:32px;height:32px;background-position:-415px -257px}
        &.icon-home{width:48px;height:48px;background-position:-5px -299px}
        &.icon-keyboard{width:48px;height:48px;background-position:-63px -299px}
        &.icon-info{width:48px;height:48px;background-position:-305px -299px}
        &.icon-list{width:32px;height:32px;background-position:-205px -299px}
        &.icon-left{width:32px;height:32px;background-position:-363px -299px}
        &.icon-mail{width:32px;height:32px;background-position:-405px -299px}
        &.icon-man{width:48px;height:48px;background-position:-121px -341px}
        &.icon-members{width:32px;height:32px;background-position:-447px -299px}
        &.icon-maximize{width:32px;height:32px;background-position:-179px -341px}
        &.icon-mic{width:32px;height:32px;background-position:-221px -341px}
        &.icon-mic-on{width:32px;height:32px;background-position:-263px -341px}
        &.icon-microphone-2{width:32px;height:32px;background-position:-363px -341px}
        &.icon-microphone-1{width:32px;height:32px;background-position:-405px -341px}
        &.icon-minimize{width:32px;height:32px;background-position:-447px -341px}
        &.icon-money{width:32px;height:32px;background-position:-5px -383px}
        &.icon-music-note{width:32px;height:32px;background-position:-47px -383px}
        &.icon-movie{width:32px;height:32px;background-position:-179px -383px}
        &.icon-notepad{width:32px;height:32px;background-position:-221px -383px}
        &.icon-next{width:32px;height:32px;background-position:-263px -383px}
        &.icon-page{width:32px;height:32px;background-position:-305px -383px}
        &.icon-pause{width:32px;height:32px;background-position:-347px -383px}
        &.icon-notes{width:32px;height:32px;background-position:-389px -383px}
        &.icon-pencil{width:32px;height:32px;background-position:-431px -383px}
        &.icon-pen{width:32px;height:32px;background-position:-5px -425px}
        &.icon-phone-remove{width:32px;height:32px;background-position:-47px -425px}
        &.icon-phone-plus{width:32px;height:32px;background-position:-89px -425px}
        &.icon-photo-smaller{width:32px;height:32px;background-position:-131px -425px}
        &.icon-photo{width:48px;height:48px;background-position:-173px -425px}
        &.icon-phone{width:32px;height:32px;background-position:-231px -425px}
        &.icon-plug{width:32px;height:32px;background-position:-273px -425px}
        &.icon-previous{width:32px;height:32px;background-position:-315px -425px}
        &.icon-play{width:32px;height:32px;background-position:-357px -425px}
        &.icon-profile{width:32px;height:32px;background-position:-399px -425px}
        &.icon-rate-up{width:32px;height:32px;background-position:-441px -425px}
        &.icon-rate-down{width:32px;height:32px;background-position:-483px -5px}
        &.icon-reload{width:32px;height:32px;background-position:-457px -47px}
        &.icon-refresh{width:48px;height:48px;background-position:-457px -215px}
        &.icon-right{width:32px;height:32px;background-position:-457px -89px}
        &.icon-screen{width:32px;height:32px;background-position:-489px -131px}
        &.icon-search{width:48px;height:48px;background-position:-5px -467px}
        &.icon-remove{width:32px;height:32px;background-position:-489px -173px}
        &.icon-smartphone{width:32px;height:32px;background-position:-489px -273px}
        &.icon-star{width:32px;height:32px;background-position:-489px -315px}
        &.icon-signal{width:32px;height:32px;background-position:-489px -357px}
        &.icon-table{width:32px;height:32px;background-position:-483px -399px}
        &.icon-stop{width:32px;height:32px;background-position:-483px -441px}
        &.icon-trash-smaller{width:32px;height:32px;background-position:-63px -483px}
        &.icon-trash{width:48px;height:48px;background-position:-105px -467px}
        &.icon-tablet{width:32px;height:32px;background-position:-163px -483px}
        &.icon-video{width:32px;height:32px;background-position:-205px -483px}
        &.icon-up{width:32px;height:32px;background-position:-247px -483px}
        &.icon-vote-up{width:32px;height:32px;background-position:-289px -483px}
        &.icon-vote-down{width:32px;height:32px;background-position:-331px -483px}
        &.icon-wifi{width:48px;height:48px;background-position:-525px -5px}
        &.icon-warning{width:48px;height:48px;background-position:-499px -63px}
        &.icon-wrench{width:48px;height:48px;background-position:-531px -121px}
        &.icon-window{width:32px;height:32px;background-position:-531px -179px}
        &.icon-avrora{width:48px;height:48px;background-position:-376px -466px}
    }

    &.big {
        background: url(../images/icons/big.png) no-repeat;

        &.dark {background: url(../images/icons/big-dark.png) no-repeat;}

        &.icon-alarm{width:48px;height:48px;background-position:-5px -5px}
        &.icon-archive-down{width:48px;height:48px;background-position:-63px -5px}
        &.icon-archive-empty{width:48px;height:48px;background-position:-121px -5px}
        &.icon-archive-full{width:48px;height:48px;background-position:-179px -5px}
        &.icon-archive-up{width:48px;height:48px;background-position:-237px -5px}
        &.icon-back{width:48px;height:48px;background-position:-295px -5px}
        &.icon-battery-20{width:48px;height:48px;background-position:-353px -5px}
        &.icon-battery-50{width:48px;height:48px;background-position:-411px -5px}
        &.icon-battery-100{width:48px;height:48px;background-position:-469px -5px}
        &.icon-battery-charging{width:48px;height:48px;background-position:-527px -5px}
        &.icon-book{width:64px;height:64px;background-position:-585px -5px}
        &.icon-brightness{width:64px;height:64px;background-position:-659px -5px}
        &.icon-bubble{width:48px;height:48px;background-position:-5px -79px}
        &.icon-calendar-smaller{width:48px;height:48px;background-position:-63px -79px}
        &.icon-calendar{width:64px;height:64px;background-position:-121px -79px}
        &.icon-camera{width:64px;height:64px;background-position:-195px -79px}
        &.icon-cart-smaller{width:48px;height:48px;background-position:-269px -79px}
        &.icon-cart{width:64px;height:64px;background-position:-327px -79px}
        &.icon-chat{width:48px;height:48px;background-position:-401px -79px}
        &.icon-check{width:48px;height:48px;background-position:-459px -79px}
        &.icon-clock{width:64px;height:64px;background-position:-517px -79px}
        &.icon-cloud-1{width:64px;height:64px;background-position:-591px -79px}
        &.icon-cloud-down{width:48px;height:48px;background-position:-665px -79px}
        &.icon-cloud-up{width:48px;height:48px;background-position:-5px -137px}
        &.icon-cloud{width:48px;height:48px;background-position:-63px -137px}
        &.icon-coffee{width:64px;height:64px;background-position:-121px -153px}
        &.icon-color{width:64px;height:64px;background-position:-195px -153px}
        &.icon-compass{width:64px;height:64px;background-position:-269px -153px}
        &.icon-console{width:64px;height:64px;background-position:-343px -153px}
        &.icon-contrast{width:64px;height:64px;background-position:-417px -153px}
        &.icon-credit{width:64px;height:64px;background-position:-491px -153px}
        &.icon-document{width:64px;height:64px;background-position:-565px -153px}
        &.icon-down{width:64px;height:64px;background-position:-639px -153px}
        &.icon-fast-backward{width:64px;height:64px;background-position:-5px -227px}
        &.icon-fast-forward{width:64px;height:64px;background-position:-79px -227px}
        &.icon-file-minus{width:48px;height:48px;background-position:-153px -227px}
        &.icon-file-plus{width:48px;height:48px;background-position:-211px -227px}
        &.icon-file-remove{width:48px;height:48px;background-position:-269px -227px}
        &.icon-flag{width:48px;height:48px;background-position:-327px -227px}
        &.icon-folder-plus{width:48px;height:48px;background-position:-385px -227px}
        &.icon-folder-remove{width:48px;height:48px;background-position:-443px -227px}
        &.icon-folder{width:48px;height:48px;background-position:-501px -227px}
        &.icon-forward{width:48px;height:48px;background-position:-559px -227px}
        &.icon-gear{width:64px;height:64px;background-position:-617px -227px}
        &.icon-geo-add{width:48px;height:48px;background-position:-5px -301px}
        &.icon-geo-minus{width:48px;height:48px;background-position:-63px -301px}
        &.icon-geo{width:48px;height:48px;background-position:-121px -301px}
        &.icon-globe-smaller{width:48px;height:48px;background-position:-179px -301px}
        &.icon-globe{width:64px;height:64px;background-position:-237px -301px}
        &.icon-grid-view{width:64px;height:64px;background-position:-311px -301px}
        &.icon-grid{width:48px;height:48px;background-position:-385px -301px}
        &.icon-hand{width:48px;height:48px;background-position:-443px -301px}
        &.icon-hat{width:64px;height:64px;background-position:-501px -301px}
        &.icon-heart-smaller{width:48px;height:48px;background-position:-575px -301px}
        &.icon-heart{width:64px;height:64px;background-position:-633px -301px}
        &.icon-help{width:64px;height:64px;background-position:-5px -375px}
        &.icon-home{width:64px;height:64px;background-position:-79px -375px}
        &.icon-image{width:48px;height:48px;background-position:-153px -375px}
        &.icon-info{width:64px;height:64px;background-position:-211px -375px}
        &.icon-keyboard{width:64px;height:64px;background-position:-285px -375px}
        &.icon-left{width:48px;height:48px;background-position:-359px -375px}
        &.icon-list{width:48px;height:48px;background-position:-417px -375px}
        &.icon-mail{width:48px;height:48px;background-position:-475px -375px}
        &.icon-man{width:64px;height:64px;background-position:-533px -375px}
        &.icon-maximize{width:48px;height:48px;background-position:-607px -375px}
        &.icon-members{width:64px;height:64px;background-position:-359px -433px}
        &.icon-mic-on{width:48px;height:48px;background-position:-665px -375px}
        &.icon-mic{width:48px;height:48px;background-position:-153px -433px}
        &.icon-microphone-1{width:64px;height:64px;background-position:-433px -433px}
        &.icon-microphone-2{width:64px;height:64px;background-position:-607px -433px}
        &.icon-microphone-on{width:128px;height:128px;background-position:-5px -507px}
        &.icon-microphone{width:128px;height:128px;background-position:-143px -507px}
        &.icon-minimize{width:48px;height:48px;background-position:-281px -507px}
        &.icon-money{width:48px;height:48px;background-position:-339px -507px}
        &.icon-movie{width:48px;height:48px;background-position:-397px -507px}
        &.icon-music-note{width:64px;height:64px;background-position:-455px -507px}
        &.icon-next{width:64px;height:64px;background-position:-529px -507px}
        &.icon-notepad{width:64px;height:64px;background-position:-603px -507px}
        &.icon-notes{width:48px;height:48px;background-position:-677px -507px}
        &.icon-page{width:64px;height:64px;background-position:-281px -581px}
        &.icon-pause{width:64px;height:64px;background-position:-355px -581px}
        &.icon-pen{width:64px;height:64px;background-position:-429px -581px}
        &.icon-pencil{width:64px;height:64px;background-position:-503px -581px}
        &.icon-phone-plus{width:48px;height:48px;background-position:-677px -565px}
        &.icon-phone-remove{width:48px;height:48px;background-position:-577px -623px}
        &.icon-phone{width:48px;height:48px;background-position:-635px -623px}
        &.icon-photo-smaller{width:48px;height:48px;background-position:-733px -5px}
        &.icon-photo{width:64px;height:64px;background-position:-713px -137px}
        &.icon-play{width:64px;height:64px;background-position:-713px -211px}
        &.icon-plug{width:64px;height:64px;background-position:-707px -285px}
        &.icon-previous{width:64px;height:64px;background-position:-681px -433px}
        &.icon-profile{width:48px;height:48px;background-position:-733px -63px}
        &.icon-rate-down{width:64px;height:64px;background-position:-693px -623px}
        &.icon-rate-up{width:64px;height:64px;background-position:-5px -697px}
        &.icon-refresh{width:64px;height:64px;background-position:-79px -697px}
        &.icon-reload{width:48px;height:48px;background-position:-723px -359px}
        &.icon-remove{width:48px;height:48px;background-position:-735px -507px}
        &.icon-right{width:48px;height:48px;background-position:-735px -565px}
        &.icon-screen{width:64px;height:64px;background-position:-153px -697px}
        &.icon-search{width:64px;height:64px;background-position:-227px -697px}
        &.icon-signal{width:48px;height:48px;background-position:-301px -697px}
        &.icon-smartphone{width:48px;height:48px;background-position:-359px -697px}
        &.icon-star{width:64px;height:64px;background-position:-417px -697px}
        &.icon-stop{width:64px;height:64px;background-position:-491px -697px}
        &.icon-table{width:48px;height:48px;background-position:-565px -697px}
        &.icon-tablet{width:48px;height:48px;background-position:-623px -697px}
        &.icon-trash-smaller{width:48px;height:48px;background-position:-681px -697px}
        &.icon-trash{width:64px;height:64px;background-position:-791px -5px}
        &.icon-up{width:64px;height:64px;background-position:-791px -79px}
        &.icon-video{width:64px;height:64px;background-position:-787px -153px}
        &.icon-vote-down{width:48px;height:48px;background-position:-787px -227px}
        &.icon-vote-up{width:48px;height:48px;background-position:-781px -285px}
        &.icon-warning{width:64px;height:64px;background-position:-781px -343px}
        &.icon-wifi{width:64px;height:64px;background-position:-755px -417px}
        &.icon-window{width:48px;height:48px;background-position:-793px -491px}
        &.icon-wrench{width:64px;height:64px;background-position:-793px -549px}
        &.icon-avrora{width:64px;height:64px;background-position:-771px -631px}
    }
}

i.icon, span.icon, a.icon {
	display: block;
    
    &:link {
        text-decoration: none;
    }
}