@import "compass/css3";
@import "../variables";
@import "../third-party/glide";

@include fade_keyframes(0, 1);

#login-container {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	background-color: $bg-color;
	@include background-size(cover);

	.cover {
		@include background-size(cover);
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
		display: none;
	}

	#users {
		float: right;
		height: 140px;
		position: relative;
		display: none;
		margin: 0 auto;
		margin-top: -80px;
		left: -50%;
		top: 50%;

		.close-btn {
			position: absolute;
			margin-top: -43px;
			z-index: 5;
			margin-left: 260px;
			padding: 0 4px 5px 5px;
			line-height: 15px;
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			background: rgba(0, 0, 0, 0.5);
			cursor: pointer;
			font-size: 20px;
			font-weight: bold;
			color: rgba(255, 255, 255, 0.6);
			display: none;
		}

		.user-name {
			margin-top: 30px;
			margin-left: 5px;
			padding-bottom: 3px;
			position: absolute;
			color: rgba(255, 255, 255, 1.0);
			font-size: 24px;
			text-align: center;
			z-index: 4;
			background-color: rgba(0, 0, 0, 0.5);
			line-height: 24px;
			width: 280px;
			display: none;
			overflow: hidden;
			white-space: nowrap;
			cursor: pointer;
		}

		#avatars {
			position: relative;
			left: 50%;
			z-index: 3;

			&:hover {
				.close-btn {
					color: rgba(255, 255, 255, 0.9);
				}
			}

			a.avatar {
				float: left;
				display: block;
				width: 140px;
				height: 140px;
				margin-right: -5px;
				margin-bottom: 20px;
				position: relative;
				background-color: $darkbg-color;
				border: 5px solid $darkbg-color;
				text-decoration: none;
				outline: none;

				background-position: center;
				background-size: 200px auto;

				filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
			    filter: gray; /* IE6-9 */
			    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
			    -webkit-transition: all .5s ease; /* Fade to color for Chrome and Safari */
			    -webkit-backface-visibility: hidden;

			    &:hover, &.opened {
			    	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
					-webkit-filter: grayscale(0%);
					z-index: 2;
			    }

			    &.opened {
					background-size: 280px auto;
			    }
			}
		}

		#login-box {
			position: absolute;
			left: 50%;
			margin-top: 70px;
			width: 280px;
			height: 200px;
			display: none;
			z-index: 1;

			&.error {
				@include shake();
			}

			form {
				width: 280px;
				padding: 5px;
				margin-top: -10px;
				background-color: $darkbg-color;
				border-bottom: 5px solid $activebg-color;

				.form-row {
					position: relative;

					label {
						display: none;
					}

					input {
						width: 252px;

						margin-bottom: 2px;
						border: 0;
					}

					button {			
						width: 280px;
						position: relative;
					}
				}
			}
		}
	}

	.avrora-logo {
		position: absolute;
		left: 50%;
		margin-left: -140px;
		bottom: 50%;
		margin-bottom: -150px;
	}
}

@media screen and (max-width: 650px) {
	#login-container {
		overflow-y: auto !important;
		-webkit-overflow-scrolling: touch;

		#avatars {
			padding-bottom: 40px;

			a.avatar {
				float: none !important;
			}
		}

		.avrora-logo {
			display: none;
		}
	}
}