/* Tooltips */
.tooltipster-base {
    padding: 0;
    font-size: 0;
    line-height: 0;
    position: absolute;
    z-index: $tooltips-zindex;
    pointer-events: none;
    width: auto;
    overflow: visible;
    background-color: $bg-color;
    color: black;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

    &.tooltipster-grow {
        @include transform(scale(0,0));
        @include transition-property(transform);
        -webkit-backface-visibility: hidden;
    }

    &.tooltipster-grow-show {
        @include transform(scale(1,1));
        @include transition-timing-function(cubic-bezier(0.175, 0.885, 0.320, 1.15));
    }

    &.tooltipster-right, &.tooltipster-left {
        border-left: 3px solid $activebg-color;
    }
    &.tooltipster-top {
        border-top: 3px solid $activebg-color;
    }
    &.tooltipster-bottom {
        border-bottom: 3px solid $activebg-color;
    }
        
    .tooltipster-content {
        font-family: Arial, sans-serif;
        font-size: 13px;
        line-height: 14px;
        padding: 5px 9px;
        font-weight: 300;
        overflow: hidden;
    }
}

/* Messages */
.message {
    position: absolute;
    z-index: $messages-zindex;
    min-width: 300px;
    max-width: 380px;
    font-weight: 100;
    padding: 18px 18px 22px;
    background-color: $bg-color;
    opacity: 0;
    display: none;
    font-size: 14px;
    @include box-shadow(0 0 100px black);

    &.error {
        background-color: $errorbg-color;
        border-top: 3px solid $error-color;
    }
    &.alert {
        border-top: 3px solid $activebg-color;
    }

    h1 {
        font-size: 23px;
        padding-bottom: 15px;
        font-weight: 300;

        &:first-letter {
            text-transform: uppercase;
        }
    }

    p {
        padding-bottom: 15px;
    }

    a {
        color: $darkbg-color;
        font-weight: 700;
    }
}

/* Prototypes */
.prototype {
    cursor: default;

    .prototype-controls {
        text-align: center;
        position: absolute;
        z-index: 3;
        padding: 20px;

        p, button {
            display: block;
            margin: 5px;

            span {
                font-weight: 500;
                color: $error-color;
            }
        }

        p {
            font-size: 17px;
        }

        button {
            margin: 20px auto 5px;
        }
    }

    .prototype-overlay {
        @include filter(blur(2px));
    }
}