@import "compass/css3";
@import "../variables";
@import "../mixins";
@import "../third-party/glide";

@include fade_keyframes(0, 1);

#welcome-container {
	width: 100%;
	height: 100%;
	background-color: $darkbg-color;
	position: absolute;
	display: none;

	#background-canvas {
		position: absolute;
		z-index: 1;
	}

	#window-box {
		width: 500px;
		min-height: 400px;
		margin: 0 auto;
		position: relative;
		top: 50%;
		margin-top: -200px;
		background-color: $bg-color;
		z-index: 2;
		border-bottom: 5px solid $activebg-color;

		[id*="text"] {
			color: $darkbg-color;
			text-align: center;
			font-size: 20px;
			top: 50%;
			position: relative;
			display: none;
		} 

		#text-1 {
			font-size: 200px;
			padding-top: 90px;
		}

		#text-2 {
			.welcome {
				font-size: 60px;
			}

			.os {
				font-size: 90px;
			}

			padding-top: 120px;
		}

		#text-3 {
			font-size: 35px;
			padding-top: 170px;
			height: 100px;

			#create-user-form {
				width: 440px;
				margin: 0 auto;
				margin-top: 20px;
				display: none;

				.form-row {
					display: block;
				}

				.error-row {
					font-size: 13px;
					padding-top: 10px;
				}

				input[type="text"], input[type="password"] {
					display: block;
					width: 320px;
					margin: 0 auto;
					margin-bottom: 1px;
					
					&[name="name"] {
						text-transform: capitalize;
					}

					&.error {
						@include shake();
					}
				}
			}
		}
	}
}